@font-face {
    font-family: "Winston";
    src: url("../fonts/Winston-Regular.ttf");
}

@font-face {
    font-family: "Winston";
    src: url("../fonts/Winston-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Winston";
    src: url("../fonts/Winston-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Winston";
    src: url("../fonts/Winston-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Winston", serif;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
}

/* modal */

.modal {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 95, 182, 1);
    z-index: 100;
}

/* header section */



.approve_button {
    background: rgba(108, 201, 15, 0.8) !important;
    border: none !important;
    cursor: pointer;
}

.cancel_button {
    background: #ad0d0d !important;
    color: white;
    border: none !important;
}



/* employees */



/* shift */



/* orders */



/* modal */

.modal {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

form > h2, form label {
    color: white;
    font-weight: bold;
}

form > h2 {
    font-size: 24pt;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

form > div {
    display: flex;
    flex-direction: row;
    margin: 20px 25px;
    font-size: 16pt;
}

form label,
form input,
form select,
form button {
    display: flex;
    flex: 1;
}

form input, form select {
    font-size: inherit;
    border-radius: 5px;
    padding-left: 3px;
}

#photo_file {
    color: transparent;
}

#photo_file::-webkit-file-upload-button {
    visibility: hidden;
}

form > div:nth-child(5) {
    margin-bottom: 0;
}

form > div:nth-child(6) {
    margin-top: 0;
}

#photo_file:before {
    content: "Фото сотрудника";
    color: black;
    display: flex;
    justify-content: center;
    background: white;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 3px 0;
    cursor: pointer;
}

form button {
    padding: 10px 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: inherit;
    cursor: pointer;
}

/* footer */


/* form-modal */

.form-modal {
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.form-modal > div {
    background: #005fb6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 10px;
}

.form-modal h2 {
    color: white;
}

.form-modal .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-modal .nav img {
    width: 50px;
    height: 50px;
    color: white;
    transform: rotate(45deg);
    cursor: pointer;
}

