<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tortotoro</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <script defer src="../assets/js/main.js"></script>
</head>
<body>
<div class="wrapper">

    <footer>
        <article>
            &copy; Tortotoro - все права защищены
        </article>
        <article>
            8(888)777-44-11
        </article>
    </footer>
</div>
</body>
</html>